<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="/css/global.css">
    <script src="/js/navigator.js" defer></script>

    <script>
        const urlParam = new URLSearchParams(window.location.search);
        const success = Number(urlParam.get('success'));
        const error = Number(urlParam.get('error'));
        
        if (success == 1) {
            alert('Projeto Cadastrado com sucesso!')
        }
        if (error == 3) {
            alert('Você não pode excluir um projeto com tarefas!')
        }

        function tryDelete(project_id, project_name) {
            if (confirm(`Você realmente deseja excluir o projeto '${project_name}' ?`)) {
                window.location.href = `/del-projeto?p=${project_id}`
            }
        }
    </script>
</head>
<body>
    <div id="projetos-main" class="box centered">
        <label class="title">Olá, <%=user.nome%></label> <br>
        <label class="nav-title">Menu Principal</label>
        <div class="fields">
            <a href="/logout"><button type="button" class="button">Sair</button></a>
            <a onclick="toggleVisibility('projetos-main', 'projetos-add')"><button type="button" class="button">Registrar Projeto</button></a>
        </div>
        <br>
        <label class="subtitle">Meus Projetos</label>

        <div class="list-box">
            <% if (projetos.length === 0) { %>
                Você não tem projetos.
            <% } else { %>
                <% projetos.forEach(function(projeto) { %>
                    <div class="card manager">
                        <%=projeto.projeto_id%> 
                        <label> <%= projeto.nome%> </label> 
                        <label>Permissão: Gerente</label>
                        <a href="/projeto/<%=projeto.projeto_id%>"><button>Gerenciar</button></a>
                        <button onclick="tryDelete('<%=projeto.projeto_id%>', '<%=projeto.nome%>')">Excluir</button>
                    </div>
                <% }) %>
            <% } %>
            
            <!-- Você não tem projetos. -->
            <!-- EXEMPLO DE CARD -->
            <!-- <div class="card">
                #id. <label>#nome</label> <br>
                <a href="/html/menuTarefas.html"><button>Gerenciar</button></a>
                <button>Excluir</button>
            </div> -->
        </div>
    </div>

    <div id="projetos-add" class="box centered hide">
        <label class="title">Cadastro de Projeto</label>
        <form action="/home" method="post">
            <br>
            <div class="fields">
                <label for="nome">Nome:</label>
                <input name="nome" placeholder="Ex: CyberPi" required>
            </div>

            <input type="submit" class="button" value="Cadastrar">
        </form>

        <a class="link" onclick="toggleVisibility('projetos-main', 'projetos-add')">Voltar</a>
    </div>
</body>
</html>